Semester 1/COMP7503B - Multimedia technologies/Assignment/Programming/car.json
[
  {
    "id": "1",
    "type": "tab",
    "label": "车场可视化",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2",
    "type": "file in",
    "z": "1",
    "name": "读取carpark.json",
    "filename": "/path/to/carpark.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 100,
    "wires": [["3"]]
  },
  {
    "id": "3",
    "type": "json",
    "z": "1",
    "name": "解析carpark",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 100,
    "wires": [["4"]]
  },
  {
    "id": "4",
    "type": "change",
    "z": "1",
    "name": "设置carpark",
    "rules": [
      {
        "t": "set",
        "p": "carpark",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "x": 600,
    "y": 100,
    "wires": [["5"]]
  },
  {
    "id": "5",
    "type": "file in",
    "z": "1",
    "name": "读取vacancy.json",
    "filename": "/path/to/vacancy.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 200,
    "wires": [["6"]]
  },
  {
    "id": "6",
    "type": "json",
    "z": "1",
    "name": "解析vacancy",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 200,
    "wires": [["7"]]
  },
  {
    "id": "7",
    "type": "change",
    "z": "1",
    "name": "设置vacancy",
    "rules": [
      {
        "t": "set",
        "p": "vacancy",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "x": 600,
    "y": 200,
    "wires": [["8"]]
  },
  {
    "id": "8",
    "type": "function",
    "z": "1",
    "name": "合并数据",
    "func": "// 数据处理逻辑参考上面代码",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 150,
    "wires": [["9", "10", "11"]]
  },
  {
    "id": "9",
    "type": "ui_table",
    "z": "1",
    "name": "车场表格",
    "group": "dashboard",
    "order": 1,
    "width": 6,
    "height": 4,
    "columns": [],
    "outputs": 0,
    "x": 1000,
    "y": 100,
    "wires": []
  },
  {
    "id": "10",
    "type": "ui_text",
    "z": "1",
    "name": "空位数量",
    "group": "dashboard",
    "order": 2,
    "width": 3,
    "height": 1,
    "x": 1000,
    "y": 200,
    "wires": []
  },
  {
    "id": "11",
    "type": "ui_template",
    "z": "1",
    "name": "车场图片",
    "group": "dashboard",
    "order": 3,
    "width": 6,
    "height": 3,
    "format": "<img src=\"{{msg.payload.carpark_photo}}\" style=\"width:100%;\">",
    "x": 1000,
    "y": 300,
    "wires": []
  }
]
